html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Yusei Magic", sans-serif;
}
.half-width {
  width: 40%;
  float: left;
  margin: 0 5%;
}
.half-width h1 {
  font-size: 48px;
  margin-top: 0px;
}
.half-width img {
  width: 100%;
  margin-top: 20px;
  height: 100%;
}
.orange {
  background: linear-gradient(180deg, #ffa07a, #ff6448); /* Gradient */

  -webkit-background-clip: text; /* Clip background to text (for Webkit browsers like Chrome, Safari) */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */

  background-clip: text; /* Clip background to text (for Firefox) */
  color: transparent;
}
.button {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 20px 80px;
  border-radius: 8px; /* Slightly more rounded for a softer look */
  background: transparent;
  border: 2px solid #ff6a4d;
  color: #ff6a4d;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.button:hover {
  color: #fff;
  background: linear-gradient(90deg, #ffa07a, #ff6448);
  box-shadow: 0 4px 12px rgba(255, 100, 72, 0.4); /* Adds depth */
  transform: translateY(-3px); /* Slight lift effect on hover */
}

section {
  overflow: hidden;
}
section p {
  margin-bottom: 32px;
}
.top {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.skill {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.bottom {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
#home {
  padding: 120px 0;
}
#projects {
  padding: 120px 0;
  width: 100%;
  margin: 0 auto;
}
#skills {
  padding: 120px 0;
}
#about-me {
  padding: 90px 0;
  background-color: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#about-me p {
  line-height: 1.6;
  color: #334155;
}
#projects .half-width {
  height: auto;
}
#projects h1 {
  margin-left: 5%;
  margin-bottom: 56px;
}
#projects h2 {
  background: linear-gradient(180deg, #ffa07a, #ff6448); /* Gradient */

  -webkit-background-clip: text; /* Clip background to text (for Webkit browsers like Chrome, Safari) */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */

  background-clip: text; /* Clip background to text (for Firefox) */
  color: transparent;
}
#projects p {
  margin-bottom: 0;
  padding: 12px 0;
}
#projects .half-width a {
  background: linear-gradient(180deg, #ffa07a, #ff6448); /* Gradient */

  -webkit-background-clip: text; /* Clip background to text (for Webkit browsers like Chrome, Safari) */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */

  background-clip: text; /* Clip background to text (for Firefox) */
  color: transparent;
  font-size: 1.1rem;
}
#projects .half-width a::after {
  background: linear-gradient(180deg, #ff7a7a, #ff4848);

  -webkit-background-clip: text; /* Clip background to text (for Webkit browsers like Chrome, Safari) */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */

  background-clip: text; /* Clip background to text (for Firefox) */
  color: transparent;
  content: "";
  width: 0%;
  height: 0.2em;
  background: linear-gradient(180deg, #ffa07a, #ff6448);
  display: block;
  transition: 0.5s;
}
#projects .half-width a:hover::after {
  width: 21%;
}

.bottom h1 {
  font-size: 48px;
}
.bottom img {
  object-fit: contain;
  width: 100%;
  margin-top: 0 !important;
  height: max-content !important;
}
.exp {
  font-size: 40px;
  margin-left: 100px;
}
.block {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  padding: 1%;
  width: 20%;
  overflow: hidden;
}
.block:hover {
  box-shadow: 10px 10px 20px gray;
}
.border1 {
  border-left: 2px solid;
  border-image: linear-gradient(180deg, #ffa07a, #ff6448);
  border-image-slice: 1;
}
footer p {
  font-size: small;
  text-align: center;
}
footer {
  margin-bottom: 10px;
  margin-top: 20px;
}
/* .me {margin: 0 auto;} */

#about-me h1 {
  margin-top: 32px;
}
.me {
  margin-top: 48px;
}
.me img {
  width: max-content;
  margin-left: 200px;
  margin-top: 0;
}
/* .me {margin-top: 0px; height: 400px;} */
/* .me img{width: 100%;height: auto;} */
.final {
  padding: 15px 100px;
  height: 80px;
  width: 280px;
  background-color: #f5f5f5;
  margin: auto;
}
.final p {
  color: #333;
  font-size: 18px;
}

/* header responsive css */
@media (max-width: 1400px) {
  html {
    font-size: 0.6rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 0.55rem;
    .me img {
      width: max-content;
      margin-left: 0;
      margin-top: 0;
    }
  }
  .me {
    margin-top: 48px;
    overflow: hidden;
  }
  .me img {
    width: 100% !important;
  }
}
@media (max-width: 700px) {
  body {
    padding: 16px;
  }
  .half-width {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .me img {
    width: max-content;
    margin-left: 0;
    margin-top: 0;
  }
  #about-me p {
    padding: 0 24px;
  }
  #home {
    padding: 60px 0;
  }
  #projects {
    padding: 60px 0;
  }
  #skills {
    padding: 60px 0;
  }
  #about-me {
    padding: 60px 0;
  }
}

/* header style */
header {
  background-image: linear-gradient(
      rgba(5, 15, 47, 0.707),
      rgba(5, 15, 47, 0.707)
    ),
    url(img/banner.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  position: relative;
}

nav img {
  width: 15rem;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 0.8em 1.2em;
}
nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 0.2em;
  background: linear-gradient(180deg, #ffa07a, #ff6448);
  display: block;
  transition: 0.5s;
  margin: auto;
}
nav ul li:hover::after {
  width: 100%;
}

nav .fa {
  font-size: 3rem;
  padding: 2rem;
  display: none;
  color: #fff;
}

nav .checkBox {
  display: none;
}
.close {
  display: none;
}

.skill img {
  width: 10%;
}

#contact .container {
  background-color: #ffffff;
  padding: 30px 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}

#contact .container h1 {
  margin-bottom: 20px;
  color: #333;
}

.contact-info p {
  margin: 15px 0;
  font-size: 18px;
  color: #555;
}

.contact-info a {
  background: linear-gradient(180deg, #ffa07a, #ff6448); /* Gradient */

  -webkit-background-clip: text; /* Clip background to text (for Webkit browsers like Chrome, Safari) */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */

  background-clip: text; /* Clip background to text (for Firefox) */
  color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}
